@import url('https://fonts.googleapis.com/css?family=Karla');

$black: #000000;
$white: #ffffff;
$silver-white: #f8f8f8;
$orange: #f9bc2b;
$yellow: #f1c40f;
$dark-blue: #34495e;
$soft-gray: #a1a1a1;
$hard-gray: #6f6f6f;

$primary-color: $orange;
$secondary-color: $yellow;
$third-color: $dark-blue;
$four-color: $white;
$five-color: $silver-white;
$label-color: $soft-gray;

$primary-font: 'Karla', sans-serif;
$font-color: $hard-gray;